<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.TravelLogMapper">

    <resultMap id="BaseResultMap" type="org.example.entity.pojo.TravelLog">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="startStation" column="start_station" jdbcType="VARCHAR"/>
        <result property="endStation" column="end_station" jdbcType="VARCHAR"/>
        <result property="isAirPlane" column="is_airPlane" jdbcType="TINYINT"/>
        <result property="isDel" column="is_del" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIME"/>
        <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="DATE"/>
        <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
        <result property="travelTime" column="travel_time" jdbcType="DATE"/>
    </resultMap>

    <select id="getTravelLogsByUserId" resultMap="BaseResultMap">
        select * from travel_log where user_id = #{userId};
    </select>


</mapper>